body {
    background: #F3F3F3;
}
.active{
    background: #e5004b;
    color: #fff;
}
.breadcrumbs {
    padding: 16px 10px;
}
.main_left {
    width: 205px;
    float: left;
}
.main_left .category {
    width: 165px;
    padding: 10px 20px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.main_left .category_name {
    border-bottom: 3px solid #e5e5e5;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.main_left .category_name span {
    display: inline-block;
    border-bottom: 3px solid #e5004b;
    margin-bottom: -3px;
}
.main_left .category_list li {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}
.main_right {
    width: 985px;
    float: left;
    margin-left: 10px;
}
.choose_tagbox {
    width: 820px;
    padding-left: 20px;
    overflow: hidden;
    float: left;
}
.choose_tagbox a {
    float: left;
    padding: 3px 32px 3px 0;
    display: block;
    font-size: 12px;
    white-space: nowrap;
}
.choose_box_top {
    background-color: #FFFFFF;
    padding: 6px;
    border: none;
}
.choose_box_top {
    padding-bottom: 10px;
    position: relative;
}
.choose_box_bottom {
    background-color: #FFFFFF;
    padding: 6px;
    margin: 3px 0 0 0;
    border: none;
}
.choose_box_bottom .choose_title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    float: left;
}
.t_tip {
    padding: 5px 6px;
    text-align: right;
}
.choose_item {
    display: inline-block;
    width: 236px;
    float: left;
}
.choose_b_btn {
    margin: 0 8px;
    background-color: #FFF;
    padding: 0 5px;
    border: none;
}
.btn {
    display: block;
    padding: 4px 10px;
    text-align: center;
}
.selected_libox {
    padding: 4px 0;
}
.selected_libox .choose_label {
    color: #e5004b;
    font-size: 12px;
    background: none;
    line-height: 30px;
}

.selected_tagbox li {
    margin: 2px 15px 2px 0px;
}
.selected_tagbox .choose_reset {
    color: #e5004b;
    border: 1px solid #FFF;
}
.t_tip {
    padding: 5px 6px;
    text-align: right;
}

.main_right .ac_list {
    width: 212px;
    padding-top: 40px;
    border: 3px solid rgb(255, 255, 255);
}

.ac_list {
    width: 266px;
    height: auto;
    border: 3px solid #FFF;
    background: #FFFFFF;
    padding: 10px;
    margin: 0 8px 10px 0;
    
}
.list_good_img {
    margin: 0 auto;
    position: relative;
}
.list_good_img {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}
.list_good_img a {
    position: relative;
    display: block;
}
.list_good_img a img {
    width: 100%;
    height: auto;
}
.list_good_img a i, .sprice_list_good_img i {
    position: absolute;
    width: 34px;
    height: 41px;
}
.list_good_des {
    width: 100%;
    height: 48px;
    overflow: hidden;
    padding-bottom: 5px;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}
.list_good_des a {
    word-break: break-all;
    font-size: 12px;
}
.list_good_des span {
    font-size: 14px;
    font-weight: 600;
    color: #e5004b;
    margin-right: 4px;
}
.list_good_price {
    padding-bottom: 10px;
}

.list_good_price_new.list {
    font-size: 16px;
}
.list_good_price_new {
    font-size: 18px;
    color: #e5004b;
    font-weight: 600;
}
.list_good_price_old span{
    text-decoration: line-through;
    color: #a2a2a2;
    font-size: 12px;
}

.list_good_sumbox {
    border: 1px solid #eaeaea;
    padding: 1px;
    text-align: center;
    width: 45px;
}
.main_right .list_good_num {
    width: 30px;
}
.list_good_num {
    width: 42px;
    height: 30px;
    border: none;
    color: #666;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
}
.list_good_upnum {
    display: block;
    background-color: #EAEAEA;
    width: 11px;
    height: 14px;
    line-height: 11px;
}
.list_good_downnum {
    display: block;
    margin-right: -11px;
    margin-top: 16px;
    background-color: #EAEAEA;
    width: 11px;
    height: 14px;
    line-height: 11px;
}

.list_good_addcart {
    background-color: #f6f6f6;
    border: 1px solid #eaeaea;
    margin-left: 4px;
    padding: 4px 26px;
    height: 24px;
}
.main_right .list_good_addfav {
    width: 29px;
    background-color: #f6f6f6;
    border: 1px solid #eaeaea;
    margin-left: 4px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

