/*公共*/
.show{
    display:block;
}
.hide{
    display:none;
}
.li_box a span,
.search_icon,
.cart_small b,
.cart_empty,
.navCon-cate-title,
.first_menu a .icon_1,
.first_menu a .icon_2,
.first_menu a .icon_3,
.first_menu a .icon_4,
.first_menu a .icon_5,
.first_menu a .icon_6,
.first_menu a .icon_7,
.first_menu a .icon_8,
.first_menu a .icon_9,
.first_menu a .icon_10,
#supuy_life a i,
.navCon-menu li a i {
    background: url("../images/index.png") no-repeat;
}
/*侧边栏*/
.nav_right{
    background: #e5004b;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000; 
}
.nav_right ul{
    padding-top: 100px ;    
    height: 100%;
}
.nav_right ul li {
    position: relative;
    display: block;
    margin: 10px 0;
    z-index: 999;
}
.nav_right ul li span {
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 15px;
    height: 34px;
    line-height: 34px;
    display: block;
    color: #FFFFFF;
    background: #9381f4;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.nav_right ul li i {
    display: block;
    color: #FFFFFF;
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
}
.nav_right .cart_count {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    background: #FFFFFF;
    color: #e5004b;
    position: absolute;
    top: -3px;
    right: 2px;
}
/*        分页*/

.pagination-pages {
    margin: 20px 0;
    clear: both;
    height: 22px;
}
.pagination-pages span {
    display: block;
    float: left;
    margin-right: 5px;
    border: 1px solid #cccccc;
    padding: 0px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.pagination-pages a{
    color: #CCCCCC; 
    border-color: #ffffff;
}

/*==================头部=======================*/
/*左边*/
#header{
    background: #333;
    width: 100%;
}
.wrap {
    margin: 0 auto;
}
.login_box{
    color: #dbdbdb;
    font-size: 14px;
    line-height: 27px;
}
.login_box>a {
    color: #e5004a;
}
.login_box a:hover{
    color: #dbdbdb;
} 
/*右边*/
.li_box {
    float: left;
    min-width: 80px;
    text-align: center;
    position: relative;
    z-index: 10000;
}
.top{
    height: 27px;
}
.top_nav_menu {
    display: block;
    font-size: 14px;
    line-height: 26px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    position: relative;
    text-align: center;
    background: #333;
    z-index: 100;
    min-width: 80px;
}
.top_nav a {
    color: #dbdbdb;
}
.li_box a span {
    background-position: -14px 0;
    width: 7px;
    height: 6px;
    display: inline-block;
    margin-left: 6px;
    margin-top: -10px;

}
.user_con {
    position: absolute;
    top: 25px;
    background-color: #333;
    z-index: 2;
    padding: 10px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    display: none;
    left: 0px;
}
.user_con ul li {
    width: 60px;
    margin: 10px 0px;
}
.user_con ul li a{
    font-size: 10px;
}
.li_box a span {
    background-position: -14px 0;
    width: 7px;
    height: 6px;
    display: inline-block;
    margin-left: 6px;
    margin-top: -10px;
}
.app_con {
    position: absolute;
    background-color: #333;
    padding: 10px;
    display: none;
    border: 1px solid #333;
    z-index: 0;
    left: -32px;
    top: 24px;
}
.app_con ul li {
    margin: 5px 0px;
    text-align: center;
    padding: 2px;
}
.li_box {
    float: left; 
    height: 27px;
    min-width: 80px;
    text-align: center;
    position: relative;
    z-index: 10000;
}
.service_con{
    position: absolute;
    right: 0px;
    top: 24px;
    background-color: #333;
    z-index: 2;
    width: 110px;
    display: none;
    border: 1px solid #333;
}
.service_con ul li{
    font-size: 12px;
    margin:10px 0;
}
/*搜索&logo*/
.midlle {
    padding: 35px 0 18px;
    background-color: white;
    height: 70px;
}
.logo {
    width: 207px;
    height: 56px;
    margin-right: 64px;
}
/*搜索框*/
.search_icon {
    background-position: 7px -10px;
    height: 40px;
    width: 31px;
    background-color: #e5004a;
}
.search_box {
    margin: 0px 130px 0px 50px;
    width: 580px;
    position: relative;
    z-index: 9000;
}
#search_text {
    border: 4px solid #e5004a;
    height: 30px;
    width: 413px;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    padding: 1px 14px;
    outline: medium;
}
#search_btn {
    background-color: #e5004a;
    font-size: 16px;
    color: #FFF;
    border: 0;
    height: 40px;
    width: 99px;
    line-height: 32px;
    cursor: pointer;
}
.suggest_box {
    position: absolute;
    width: 445px;
    top: 40px;
    left: 35px;
    background-color: #FFF;
}
.hot_search {
    margin-top: 6px;
    height: 24px;
    width: 580px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.hot_search ul li {
    float: left;
    margin: 0px 10px;
    display: inline;
    
}
.hot_search ul li a{
    color: #666;
}
/*购物车*/
.cart_box_small {
    font-size: 14px;
    color: #FFF;
    background-color: #e5004a;
    max-width: 145px;
    position: relative;
    z-index: 9000;
}
.cart_small b {
    float: left;
    display: block;
    height: 24px;
    width: 24px;
    background-position: 0px -51px;
    margin: 4px 16px 0 6px;
}
.cart_small {
    display: block;
    height: 34px;
    border: 3px solid #e5004a;
    overflow: hidden;
}
.cart_small span {
    color: #FFF;
    font-size: 14px;
    line-height: 32px;
    width: 3em;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 6px solid #FFF;
    border-bottom: 4px solid transparent;
    display: inline;
    margin-left: 9px;
    position: relative;
    top: 12px;
}
.cart_no {
    display: block;
    background: #FFF;
    color: #e5004a;
    padding: 6px;
    font-size: 12px;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    min-width: 24px;
}
/*导航栏部分*/
.headNav {
    height: 38px;
    border-bottom: 2px solid #e5004a;
    background: #fff;
}
.navCon {
    height: 38px;
    position: relative;
    z-index: 8000;
    background-color: #fff;
}
.navCon-cate {
    width: 210px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    background-color: #e5004a;
    position: relative;
}
.navCon-cate-title {
    background-position: 213px -108px;
    padding-left: 15px;
}
.navCon-cate-title a {
    color: #ffffff;
}
.cateMenu {
    position: absolute;
    left: 0px;
    cursor: pointer;
    border: 2px solid #e5004a;
    border-right: none;
    background: url(../images/cate_menu_bottom.jpg) #e5004a no-repeat center bottom;
    padding-bottom: 35px;
    height: 410px;
}
.cateMenu li {
    margin: 1px 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5004b;
}
.cateMenu li i {
    display: block;
    width: 4px;
    position: absolute;
    z-index: 10;
    height: 37px;
    right: -2px;
    background: #FFF;
}
.cate-tag {
    width: 186px;
    padding: 8px 5px 8px 15px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-right: 2px solid #e5004b;
}
.on{
    border-top: 2px solid #fff;
    border-bottom: 2px solid#fff;
    border-right: 2px solid#fff;
    background: #fff;
    color:#e5004b;
    padding:6px 5px 6px 15px;

}
.cate-tag .first_menu {
    height: 25px;
    line-height: 25px;
    width: 172px;
    display: block;
   
}
.first_menu a{
     color:#fff;
}
.first_menu a span {
    height: 25px;
    width: 16px;
    margin-right: 18px;
}
.first_menu .arrow_right {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/index.png);
    float:right;
    background-position: 192px -137px;
    margin-right: 10px;
    margin-top: -20px;
}

.navCon-menu {
    width: 986px;
}
.navCon-menu ul {
    padding-left: 15px;
}
.navCon-menu li {
    float: left;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
.navCon-menu li a {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    padding: 0px 30px;
}
.navCon-menu li:hover a{
    color:#e5004b;
}
.navCon-menu li a i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 16px;
    background-position: -129px -397px;
    vertical-align: middle;
}

.first_menu a .icon_1 {
    background-position: 0px -152px;
}
.first_menu a .icon_2 {
    background-position: 0 -180px;
}
.first_menu a .icon_3 {
    background-position: 0 -210px;
}
.first_menu a .icon_4 {
    background-position: 0 -237px;
}
.first_menu a .icon_5 {
    background-position: 0 -267px;
}
.first_menu a .icon_6 {
    background-position: 0 -296px;
}
.first_menu a .icon_7 {
    background-position: 0 -328px;
}
.first_menu a .icon_8 {
    background-position: 0 -356px;
}
.first_menu a .icon_9 {
    background-position: 0 -385px;
}
.first_menu a .icon_10 {
    background-position: 0 -418px;
}
/*二级导航*/
.cateMenu .list-item {
    position: absolute;
    top: 0px;
    left: 208px;
    background: #FFF;
    height: 100%;
    width: 798px;
    z-index: 2;
    border: 2px solid #e5004b;
    border-left: none;
    overflow: hidden;
    border-top: 1px solid #e5004b;
    display:none;
}
.list-item .itemleft {
    width: 597px;
    float: left;
    overflow: hidden;
    padding-top: 10px;
}

.list-item dl {
    padding-left: 25px;
}
.list-item .itemleft dt {
    float: left;
}
.list-item dt {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-indent: 0px;
    margin-bottom: 8px;
    margin-right: 5px;
    line-height: 25px;
    min-width: 47px;
}
.list-item .itemleft dd {
    float: left;
    width: 460px;
    margin-left: 10px;
}
.list-item dd {
    white-space: nowrap;
}
.list-item dd a {
    color: #646464;
    display: block;
    float: left;
    line-height: normal;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #cfcfcf;
    font-size: 12px;
}
.clear {
    _zoom: 1;
    clear: both;
}
/*=================轮播图===============*/
a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
}
/*底部*/
#footer {
    border-top: 10px solid #e5004b;
}
.cultrue_img {
    width: 165px;
    margin-right: 60px;
    margin-left: 70px;
}

#life .home_t_intro {
    background: url("../images/index.png") no-repeat;
    background-position: -94px -485px;
}
.home_t_intro {
    padding-left: 39px;
    height: 32px;
    font-size: 24px;
}
.footer_nav {
    border-bottom: 1px solid #444;
    background: #333333;
}
.footer_nav_ul {
    border-right: 1px solid #444;
    width: 170px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.footer_nav_ul_t h3 {
    font-weight: bold;
    color: #dbdbdb;
}
h3 {
    font-size: 14px;
}
.footer_nav_ul ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}
.supuy_info_box {
    text-align: center;
    padding-bottom: 10px;
    background: #333333;
}
.supuy_info {
    width: 320px;
    margin: 0 auto;
    padding: 10px 0px;
}
.supuy_info_box {
    text-align: center;
    padding-bottom: 10px;
    background: #333333;
}
.supuy_info ul li {
    float: left;
}
.supuy_info ul li a {
    border-right: 1px solid #444;
    padding: 0px 10px;
}
.supuy_cultrue {
    background: #e5004b;
    padding: 20px 0px;
    height: 60px;
}